{% extends "orders/layout.html" %}
{% block body%}
    {% load static%}
    <br>
    <h4 style='caption-side:top;color:white; text-align: left'>&nbsp;Order History</h4>
    <hr class="new1">
    <br>
    {% if UserOrder.count > 0 %}
    <div class="container">
        {%  for record in UserOrder %}
        <div class="row">
            <div class="col"><a href="{% url 'viewitems' record.id 'U' %}">{{ record.user_order_number }}</a></div>
            <div class="col" align="left">{{ record.user_order_date }}</div>
            <div class="col" align="left">Status : {{ record.status }}</div>
            <div class="col" align="left">{% if record.status == 'Completed' %}{{ record.user_order_complete_date }}{% endif %}</div>
        </div>
        <br>
        {%  endfor %}
        {% if ItemList.count > 0%}
        {%  for items in ItemList%}
        <hr class="new1">
        <br>
        <div class="row">        
            <div class="col"><h6>Order {{ ordernumber }} Summary :</h6></div>
        </div>
        <br>
        <div class="row">        
          <div class="col">
            <table class="table table-borderless">
                <thead>
                    <tr class="bordered">
                        <th scope="col">Food Type</th>
                        <th scope="col">Size</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {%     for item in items.item.all %}
                    <tr>
                        <td scope="row">{{item.cat_id.name}} : {{item.name}}</td>
                        {% if item.size_type == 'N' %}
                        <td scope="row">One Size</td>
                        {% elif item.size_type == 'S' %}    
                        <td scope="row">Small</td>
                        {% elif item.size_type == 'L' %}
                        <td scope="row">Large</td>
                        {% endif %}
                        <td scope="row" class="quantity">{{item.quantity}}</td>
                        <td scope="row" id="price{{item.id}}">${{item.price}}</td>
                        <td scope="row" id="sub{{item.id}}">${{item.subtotal}}</td>
                    </tr>
                    {% endfor %}
                    <tr class="bordered">
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row" align="right">Total :</td>
                        <td scope="row" id="total" class="total-price">${{items.get_cart_total}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        {%  endfor %}
        {% endif %}
    </div>
    {% else %}
    <br><br>
    <div align="center"><h4>No Orders Yet. Go Grab Your Food.</h4></div>
    <br><br>
    {% endif %}
    <br><br>
{% endblock %}